
.adela_jumbotron{
background-color: #fff;
  padding: 19px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  border-radius: 2px;
  border: 0;
}


.mic_main,
.menucontain {
  bottom: 100px;
  left: 100px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
h1, h2, h3, h4 {
    voice-family: male;
    richness: 80;
}
.mic_main {
  background-color: #3498DB;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  z-index: 50;
}
.mic_main:hover {
  background-color: #2980B9;
}
#mic:active {
  background-color: #2980B9;
}
.mic_main:active {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35), inset 1px 2px 2px rgba(0, 0, 0, 0.35);
  background-color: #1ABC9C;
}
.mic_main .mic_title {
  margin: auto;
  position: relative;;
  top: 15px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  font-size: 5em;
  line-height: 80px;
  text-align: center;
  color: #fafafa;
}

.menucontain {
  z-index: 10;
  color:   #fff;
}

.adela_blank{
text-align: center;
/*padding-top: 20px;*/
}
/*.ai_network_error,.alert-danger{
  font-style: italic;
  text-align: center;
  width: 18em;
  height: 18em;
  border-radius: 50%;
}*/
.ai_loading_msg{
  font-style: italic;
  text-align: center;
  width: 18em;
  height: 18em;
  border-radius: 50%;
}
.adela_process{
  text-align: center;
}
